/* Additional fonts */
/********************/
/* Grotesk Family   */
@font-face {
    font-family: 'GroteskLight';
    src: url("fonts/FoundersGroteskText-Light.otf");
}
@font-face{
    font-family: 'GroteskRegular';
    src: url("fonts/FoundersGroteskText-Regular.otf");
}
@font-face {
    font-family: 'GroteskSemiBold';
    src: url('fonts/FoundersGroteskText-Semibold.otf');
}
@font-face {
    font-family: 'GroteskBold';
    src: url('fonts/FoundersGroteskText-Bold.otf');
}
@font-face {
    font-family: 'GroteskMedium';
    src: url('fonts/FoundersGroteskText-Medium.otf');
}

/* Canela Family */
@font-face{
    font-family: 'CanelaLightItalic';
    src: url('fonts/Canela-LightItalic.otf');
}
@font-face{
    font-family: 'CanelaRegular';
    src:url('fonts/Canela-Regular.otf')
}

/* Freight Family */
@font-face {
    font-family: 'FreightSemiBold';
    src: url('fonts/Freight Neo Pro Semibold.otf');
}
@font-face {
    font-family: 'FreightBookItalic';
    src: url('fonts/Freight Neo Pro Book Italic.otf');
}
@font-face {
    font-family: 'FreightMedium';
    src: url('fonts/Freight Neo Pro Medium.otf');
}
@font-face {
    font-family: 'FreightMediumItalic';
    src: url('fonts/Freight Neo Pro Medium Italic.otf');
}




/**/
/* normal state */
/**/
.sky-form .toggle i:before {
	background-color: #b79b6e;	
}
.sky-form .button {
	background-color: #b79b6e;
}

.sky-form .button.button-secondary {
  background-color: #b79b6e;
}

.sky-form header {
	display: block;
	padding: 20px 30px;	
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: #b79b6e;
	/* font-size: 50px; */
	font-size: 30px;
	/* font-weight: 300; */
	color: #f2e4d6;
	font-family:"CanelaRegular";
    /* height:68px; */
}

/**/
/* hover state */
/**/
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i,
.sky-form .ui-slider-handle:hover {
	border-color: #909090;
}
.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
	color: #b79b6e;
}


/**/
/* focus state */
/**/
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
	border-color: #b79b6e;
}


/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
	background-color: #b79b6e;	
}
.sky-form .checkbox input + i:after {
	color: #b79b6e;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #b79b6e;	
}
.sky-form .rating input:checked ~ label {
	color: #b79b6e;	
}